h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

footer{
    margin-bottom: 30px;
}

footer h2{
  font-weight: 700;
}

#VerDemo{
  background-color: #cfe3ff;
  color: #373737;
}

#VerDemo:hover{
  background-color: #b9d6ff;
}

@media (width < 992px) {
  footer h2{
    text-align: center;
  }
}