h1 {
    text-align: center;
    padding: 50px 0px 0px 0px;
}

h2{
    text-transform: uppercase;
    padding-bottom: 15px;
}

footer h2{
    text-align: center;
}

h3{
    padding-top: 20px;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    /* width: 100%; */
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40px;
    transition: box-shadow 0.3s ease;
}

footer{
    margin-bottom: 50px;
}

#Btn1{
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000000;
    transition: box-shadow 0.3s ease;
}

#Btn1:hover{
    box-shadow: 0px 0px 15px antiquewhite;
}


#Btn2{
    background-color: #cfe3ff;
    border-color: #cfe3ff;
    color: #000000;
    transition: box-shadow 0.3s ease;
}

#Btn2:hover{
    box-shadow: 0px 0px 15px #B4D3FF;
}
#Btn3{
    background-color: #9D46A7;
    border-color: #9D46A7;
    color: #fff;
    transition: box-shadow 0.3s ease;
}

#Btn3:hover{
    box-shadow: 0px 0px 15px #9D46A7;
}
#Btn4{
    background-color: #95C020;
    border-color: #95C020;
    color: #fff;
    transition: box-shadow 0.3s ease;
}

#Btn4:hover{
    box-shadow: 0px 0px 15px #95C020;
}
#Btn5{
    background-color: #FFE57F;
    border-color: #FFE57F;
    color: #000;
    transition: box-shadow 0.3s ease;
}

#Btn5:hover{
    box-shadow: 0px 0px 15px #FFE57F;
}

#CyR-title{
    margin-top: 80px;
}

#copyEmail:hover{
    box-shadow: 0px 0px 15px 3px #fff;
}

#Formacion{
    text-align: right;
}

#GitHub:hover{
    box-shadow: 0 5px 20px 10px #b362ff !important;
}

#LinkedIn:hover{
    box-shadow: 0 0px 20px 20px #0077B5 !important;
}

#MC-title{
    margin-top: 70px;
}

#MV-title{
    margin-top: 70px;
}

#SobreMi{
    margin-top: 80px;
}

#PD-title{
    margin-top: 80px;
}

.secciones{
    padding-top: 20px;
}

.botones{
    margin-bottom: 20px;
    font-size: 1.3rem;
}

@media(width<=768px){
    body{
        text-align: center;
    }
    p{
        text-align: justify;
        text-align-last: left;
    }

    li{
        text-align: left;
    }

    .btn{
        border-radius: 40px;
    }
}

@media (width < 1024px) {
    #Formacion{
        text-align: center;
    }
}

@media (width > 1023.98px) {
    
    #SobreMi h2{
        text-align: center;
    }
}