h1 {
    text-align: center;
    padding: 20px 0px;
}

h2{
    text-transform: uppercase;
    padding-bottom: 15px;
}

footer h2{
    text-align: center;
}

h3{
    padding-top: 20px;
}

img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    height: 70px;
}

footer{
    margin-bottom: 50px;
}

#Formacion{
    text-align: right;
}

.secciones{
    padding-top: 20px;
}

.botones{
    margin-bottom: 20px;
}

@media(width<=768px){
    body{
        text-align: center;
    }
    p{
        text-align: justify;
        text-align-last: left;
    }

    li{
        text-align: left;
    }

    .btn{
        border-radius: 40px;
    }
}

@media (width < 1024px) {
    #Formacion{
        text-align: center;
    }
}

@media (width > 1023.98px) {
    
    #SobreMi h2{
        text-align: center;
    }
}