h1 {
    text-align: center;
}

h2{
    text-transform: uppercase;
}

footer h2{
    text-align: center;
}

img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    height: 70px;
}

#Formacion{
    text-align: right;
}

.secciones{
    padding-top: 20px;
}

@media (width < 1024px) {
    #Formacion{
        text-align: center;
    }
}