body{
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    padding: 20px 0px;
}

h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
}

img{   
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-bottom: 30px;
}

#VerDemo {
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000000;
}

#VerDemo:hover{
    background-color: #ffe2bc;
    border-color: #ffe2bc;
    color: #212121;
}

@media(width < 991.58px){
    h1{
        text-align: center;
    }
    
    h2{
        text-align: center;
    }
    
    /* .titulos-menu{
        text-align: center;
    } */
}

@media (width > 992px){
    /* .titulos-menu{
        text-align: left;
    } */
}

@media(width >= 1440px){
    img{
        height: 650px !important;
    }
}