body{
    font-size: 20px;
}

h1 {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 20px 0px;
}

#VerDemo {
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000000;
    font-weight: bold;
}

#VerDemo:hover{
    background-color: #ffe2bc;
    border-color: #ffe2bc;
    color: #212121;
}