body{
    font-size: 20px;
}

h1 {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding: 20px 0px;
}

h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
}

footer{
    margin-bottom: 30px;
}

#VerDemo {
    background-color: antiquewhite;
    border-color: antiquewhite;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

#VerDemo:hover{
    background-color: #ffe2bc;
    border-color: #ffe2bc;
    color: #212121;
}

@media(width < 991.58px){
    h1{
        text-align: center;
    }
    
    h2{
        text-align: center;
    }
}
 