h1 {
    font-family: "Architects Daughter", cursive;
}

footer {
    margin-bottom: 30px;
}

.characters {
    height: 200px;
}

#span-titulo {
    font-family: "Press Start 2P", system-ui;
    font-size: smaller;
}

#ElementosSection {

    h2,
    h4,
    p {
        text-align: center;
    }

}


#Orbe {
    height: 80px;
    margin-bottom: 100px;
}

#Enemy {
    height: 80px;
    margin-bottom: 100px;
}

#Platform {
    margin-bottom: 100px;
}

#VerDemo{
    background-color: #9D46A7;
    border-color: #9D46A7;
}

#VerDemo:hover{
    background-color: #602B67;
    border-color: #602B67;



@media (width < 992px) {

    h2,
    h3,
    h4 {
        text-align: center;
    }

    img {
        display: block;
    }

    #ShinImg {
        margin-bottom: 50px;
    }

    #Platform {
        height: 50px;
    }

}