body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
h1{
    font-family: "Sankofa Display", sans-serif;
    font-size: 5rem;
    /* text-align: center; */
}

p{
    text-align: left;
}

img{
    aspect-ratio: 1/1;
    object-fit: contain;
}