body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
h1{
    font-family: "Sankofa Display", sans-serif;
    font-size: 5rem;
    /* text-align: center; */
}

p{
    text-align: left;
}