body{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    /* font-size: 1.5rem; */
    text-align: justify;
    hyphens: auto;
}

#copyEmail{
    cursor: pointer;
}

#Regresar{
    font-size: 18px;
}