body{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    /* font-size: 1.5rem; */
    text-align: justify;
    hyphens: auto;
}

#copyEmail{
    cursor: pointer;
}

#Regresar{
    font-size: 18px;
}

#VerDemo {
    
    font-weight: bold;
    font-size: 20px;
}

@media(width<=768px){

    #VerDemo, #Regresar{
        border-radius: 40px;
    }
}
